#masthead {
  background: -webkit-linear-gradient(white, #F8F8F8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #F8F8F8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #F8F8F8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #F8F8F8); /* Standard syntax */
  height:120px;
}

#nav {
  z-index:1030;
}

#nav.affix-top {
  position: static;
}

#nav.affix {
  position: fixed;
  top:0;
  width: 100%;
}
